@import "tailwindcss";

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h1, h2 {
        @apply font-bold;
    }

    button {
        cursor: pointer;
    }

    @media (prefers-color-scheme: dark) {
        body {
            @apply bg-gray-950;
            @apply text-white
        }
    }
}


.rainbow-image {
    animation: rainbow-cycle 2s linear infinite;
}

@keyframes rainbow-cycle {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}



